@import "./variables";
@import "./responsive";
@import "./fonts";

$headerHeight: 60;

body {
  margin: 0;
  font-family: $fontOpenSans, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  font-family: $fontOpenSans;
  color: $primary-color;
  font-size: $base-font-size;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@keyframes changeOpacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.loading {
  display: flex;
  padding-left: 24px;
  flex: 1;
  padding-right: 24px;
  padding-top: $headerHeight+px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.4;
  animation-duration: 0.6s;
  animation-name: changeOpacity;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  .loading-text {
    font-style: italic;
    font-weight: normal;
    font-size: 36px;
    text-align: center;
  }
}

.not-found {
  margin-top: 20px;
  font-size: 24px;
  line-height: 28px;
  font-style: italic;
}

.content-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;

  @include tablet {
    padding-right: 48px;
    padding-left: 48px;
  }

  @include desktop {
    max-width: $page-max-width;
    padding-right: 60px;
    padding-left: 60px;
  }
}

.heading {
  margin: 0;
  font-family: $fontMerriweather;
}

a {
  margin: 0;
  color: $primary-color;
  text-decoration: none;
  transition: 0.2s all ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}

button {
  margin: 0;
  border: none;
  background: none;
  color: white;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
  transition: 0.2s all ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}


//Sections_____________________________
.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: $headerHeight+px;
  display: flex;
  align-items: center;
  background-color: $secondary-color;
  box-shadow: 0 3px 15px rgba(57, 63, 72, 0.2);

  .header__title {
    color: white;
    font-size: 18px;

    @include desktop {
      font-size: 24px;
    }
  }
}

.footer {
  height: 40px;
  display: flex;
  align-items: center;
  background-color: $primary-color;

  .footer-text {
    margin: 0 5px;
    font-size: 12px;
    color: $tertiary-color;
  }
}


//Sort
.sort-button {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}


//BookList_____________________________
.book-list {
  padding-top: $headerHeight + 24px;
  padding-bottom: 24px;
  background-color: $bg-color;
  flex: 1;

  .book-list-headers {
    margin-bottom: 24px;
    padding: 0 10px;
    background-color: $primary-color;
    font-weight: bold;
    color: white;
    border-radius: 4px;

    @include desktop {
      margin-bottom: 10px;
      padding: 10px 24px;
      height: 60px;
      display: flex;
      text-align: center;
      border-radius: 8px;
    }

    .table-cell {
      justify-content: center;

      @include mobile-tablet {
        flex: 1;
        justify-content: space-between;

        &:not(:last-of-type) {
          border-bottom: 1px solid $tertiary-color;
        }
      }
    }

    .visible-desktop {
      display: none;

      @include desktop {
        display: flex;
      }
    }
  }

  .book-list-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.table-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  min-width: 20px;

  &.align-left {
    justify-content: flex-start;
  }

  @include tablet {
    &.height-full {
      flex: 1;
      align-items: flex-start;
    }
  }

  @include desktop {
    &.width-10 {
      width: 10%;
    }
    &.width-30 {
      width: 30%;
    }
  }
}

.book-list-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 35px;
  align-items: center;
  border-radius: 8px;
  border: 2px solid $soft-gray;
  background-color: white;
  box-shadow: 0 10px 15px 0px rgba(0, 0, 0, 0.05);

  @include tablet {
    width: calc(50% - 40px);
  }

  @include desktop {
    margin-bottom: 20px;
    padding: 10px 24px;
    flex-direction: row;
    height: 200px;
  }

  .book-list-item__number {
    font-weight: bold;
  }

  .book-list-item__cover-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    transition: 0.2s all ease-in-out;

    &:hover {
      opacity: 0.8;
    }

    .book-list-item__link-overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      cursor: pointer;
    }

    .book-list-item__cover {
      height: 200px;

      @include desktop {
        width: 100%;
        height: auto;
      }
    }
  }

  .book-list-item__author {
    font-weight: bold;

    @include desktop {
      letter-spacing: 1px;

      &:first-line {
        font-size: 14px;
        letter-spacing: normal;
        word-spacing: 9999999px;
      }
    }
  }

  .book-list-item__title {
    font-weight: bold;
    transition: 0.2s all ease-in-out;
    text-align: left;

    &:hover {
      opacity: 0.8;
    }
  }

  .book-list-item__biography {
    flex: 1;

    p {
      margin: 0;
    }

    @include desktop {
      max-height: 170px;
      overflow: scroll;
    }
  }

  .book-list-item__reading-time {
    white-space: nowrap;
  }
}

