$bg-color: #f4f4f4;
$text-color: #0d1628;
$base-font-size: 16px;

$primary-color: #14213d;
$secondary-color: #d8cbc7;
$gray: #dddddd;
$soft-gray: #ededed;

$br-tablet: 768px;
$br-desktop: 1024px;
$page-max-width: 1200px;
